---
import BaseLayout from "../layouts/BaseLayout.astro";
import Masthead from "../components/Masthead.astro";
---

<BaseLayout title="Bandar Alharthi ·Portfolio">
  <main>
    <Masthead />
  </main>
</BaseLayout>
